<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chapter06</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>sec01.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inputServlet</display-name>
    <servlet-name>inputServlet</servlet-name>
    <servlet-class>sec01.inputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputServlet</servlet-name>
    <url-pattern>/Input</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login2Servlet</display-name>
    <servlet-name>login2Servlet</servlet-name>
    <servlet-class>sec02.ex01.login2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login2Servlet</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login4Servlet</display-name>
    <servlet-name>login4Servlet</servlet-name>
    <servlet-class>sec04.ex01.login4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login4Servlet</servlet-name>
    <url-pattern>/login4</url-pattern>
  </servlet-mapping>
  
</web-app>