<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chapter09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sec01.ex01.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login6</display-name>
    <servlet-name>login6</servlet-name>
    <servlet-class>sec01.ex02.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login6</servlet-name>
    <url-pattern>/login6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second</display-name>
    <servlet-name>second</servlet-name>
    <servlet-class>sec01.ex02.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieValue</display-name>
    <servlet-name>GetCookieValue</servlet-name>
    <servlet-class>sec02.ex01.GetCookieValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieValue</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieValue</display-name>
    <servlet-name>SetCookieValue</servlet-name>
    <servlet-class>sec02.ex01.SetCookieValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieValue</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>set2</display-name>
    <servlet-name>set2</servlet-name>
    <servlet-class>sec02.ex01.SetCookieValue2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>set2</servlet-name>
    <url-pattern>/set2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest</display-name>
    <servlet-name>SessionTest</servlet-name>
    <servlet-class>sec03.ex01.SessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest</servlet-name>
    <url-pattern>/sess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest2</display-name>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>sec03.ex02.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/sess2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest3</display-name>
    <servlet-name>SessionTest3</servlet-name>
    <servlet-class>sec03.ex03.SessionTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest3</servlet-name>
    <url-pattern>/sess3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>sec04.ex1.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec04.ex1.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/viewMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login4</display-name>
    <servlet-name>login4</servlet-name>
    <servlet-class>sec04.ex1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login4</servlet-name>
    <url-pattern>/login4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMember</display-name>
    <servlet-name>ShowMember</servlet-name>
    <servlet-class>sec04.ex1.ShowMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMember</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
</web-app>