<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chapter08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>sec01.ex01.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>sec01.ex01.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>frirst2</display-name>
    <servlet-name>frirst2</servlet-name>
    <servlet-class>sec01.ex02.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>frirst2</servlet-name>
    <url-pattern>/frirst2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second2</display-name>
    <servlet-name>second2</servlet-name>
    <servlet-class>sec01.ex02.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second2</servlet-name>
    <url-pattern>/second2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first</display-name>
    <servlet-name>first</servlet-name>
    <servlet-class>sec01.ex03.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second</display-name>
    <servlet-name>second</servlet-name>
    <servlet-class>sec01.ex03.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first4</display-name>
    <servlet-name>first4</servlet-name>
    <servlet-class>sec01.ex04.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first4</servlet-name>
    <url-pattern>/first4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second4</display-name>
    <servlet-name>second4</servlet-name>
    <servlet-class>sec01.ex04.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second4</servlet-name>
    <url-pattern>/second4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first5</display-name>
    <servlet-name>first5</servlet-name>
    <servlet-class>sec01.ex05.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first5</servlet-name>
    <url-pattern>/first5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second5</display-name>
    <servlet-name>second5</servlet-name>
    <servlet-class>sec01.ex05.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second5</servlet-name>
    <url-pattern>/second5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first6</display-name>
    <servlet-name>first6</servlet-name>
    <servlet-class>sec01.ex06.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first6</servlet-name>
    <url-pattern>/first6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second6</display-name>
    <servlet-name>second6</servlet-name>
    <servlet-class>sec01.ex06.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second6</servlet-name>
    <url-pattern>/second6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first7</display-name>
    <servlet-name>first7</servlet-name>
    <servlet-class>sec01.ex07.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first7</servlet-name>
    <url-pattern>/first7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second7</display-name>
    <servlet-name>second7</servlet-name>
    <servlet-class>sec01.ex07.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second7</servlet-name>
    <url-pattern>/second7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>first8</display-name>
    <servlet-name>first8</servlet-name>
    <servlet-class>sec02.ex01.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first8</servlet-name>
    <url-pattern>/first8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second8</display-name>
    <servlet-name>second8</servlet-name>
    <servlet-class>sec02.ex01.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second8</servlet-name>
    <url-pattern>/second8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>sec02.ex02.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec02.ex02.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/viewMembers</url-pattern>
  </servlet-mapping>
</web-app>